/*Other*/

body {
    max-width: 1000px;
    height: 100%;
    overflow-y: scroll;
    font-family: "Arial", Arial, sans-serif;
    font-size: 9pt;
}
.errorMsg {
 color :red;
 font-style : italic;
 font-weight : bold;
 font-size: 9pt;
}
.confirmMsg {
 color : #3cda19;
 font-style : italic;
 font-weight : bold;
 font-size: 9pt;
}
.creditmsg {
    text-align: right;
    margin-top: 95px;
    font-size: 1.1em;
    font-weight: bold;
    display: block;
}

.message {
    color: darkred;
    font-weight: bold;
    text-align: center;
}

#logotop {
    float: left;
    height: 60px;
    z-index: 1;
}

#webtitle {
    font-family: "Arial", Arial, sans-serif;;
    font-weight: bold;
    font-size: 13pt;
    color: #336699;
    line-height: 150%;
    float: left;
}

#logout {
    font-size: 9pt;
    float: right;
    text-align: right;
}

.container {
    margin-top: 120px;
    display: block;
}

#welcome {
    font-size: 11pt;
    float: right;
    display: block;
    margin-right: 50px;

    text-align: right;
}

.dash {
    min-width: 750px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #F1F5F6;
    background-size: 100% 100%;
    border-bottom: 3px solid #336699;
    padding: 10px;
    z-index: 2;
    display: block;
}

.footer {
    min-width: 800px;
    width: 100%;
    background-color: rgb(221, 225, 226);
    position: fixed;
    bottom: 0em;
    right: 0em;
    padding: 3px 6px;
    text-align: right;
}

.overlap {
    width: 90%;
    max-height: 300px;
    margin: auto;
    text-align: left;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}

#overlap_message {
    color: rgb(90, 90, 90);
    text-align: center;
}



.schedule_header {
    text-align: center;
    color: rgb(80, 80, 80);
}

html {
    background: #ffffff;
}

.black_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 3;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.white_content {
    display: none;
    position: fixed;
    top: 10%;
    left: 20%;
    width: 60%;
    max-height: 70%;
    padding: 16px;
    border: 3px solid #2e2e2e;
    background-color: #ececec;
    z-index: 4;
    overflow: auto;
    text-align: center;
}

.content {
    width: 200px;
    height: auto;
    margin: auto;
    padding: 1em;
    text-align: center;
    color: rgb(141, 145, 146);
    border: solid #a3a3a3 1px;
    background: white;
    box-shadow: 2px 2px 5px grey;
}

.contentbox {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#testdiv1{
    position:fixed;
    visibility:hidden;
    background-color:white;
    layer-background-color:white;
}

input[name="openReg"] {
    margin-top: 15px;
}

