
.footer	{
    text-align: center;
    padding-top:.5em;
    font-size: .7em;
}
#br-link{
    text-align: right;
    margin: 0;
    padding-bottom: 0;
    padding-right: 15px;
}
#login-title{
    font-size: 1.5em;
    color: black;
}
.dash{
    text-align: right;
}


















article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.about {
    margin: 70px auto 40px;
    padding: 8px;
    width: 260px;
    font: 10px/18px 'Lucida Grande', Arial, sans-serif;
    color: #666;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    background: #eee;
    background: rgba(250, 250, 250, 0.8);
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
}
.about a {
    color: #333;
    text-decoration: none;
    border-radius: 2px;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
}
.about a:hover {
    text-decoration: none;
    background: #fafafa;
    background: rgba(255, 255, 255, 0.7);
}

.about-links {
    height: 30px;
}
.about-links > a {
    float: left;
    width: 50%;
    line-height: 30px;
    font-size: 12px;
}

.about-author {
    margin-top: 5px;
}
.about-author > a {
    padding: 1px 3px;
    margin: 0 -1px;
}

body {
    font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
    color: #404040;
    background: #0ca3d2;
}

.container {
    margin: 80px auto;
    width: 640px;
}.container2 {
     margin: 80px auto;
     width: 80%;
 }

.login {
    position: relative;
    margin: 0 auto;
    padding: 20px 20px 20px;
    width: 310px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.login:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.login h1 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
    background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
}
.login p {
    margin: 20px 0 0;
}
.login p:first-child {
    margin-top: 0;
}
.login input[type=text], .login input[type=password] {
    width: 278px;
}
.login p.submit {
    text-align: right;
}

.login-help {
    margin: 20px 0;
    font-size: 15px;
    color: white;
    text-align: center;
    text-shadow: 0 1px #2a85a1;
}
.login-help a {
    color: #cce7fa;
    text-decoration: none;
}
.login-help a:hover {
    text-decoration: underline;
}

:-moz-placeholder {
    color: #c9c9c9 !important;
    font-size: 13px;
}

::-webkit-input-placeholder {
    color: #ccc;
    font-size: 13px;
}

input {
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 14px;
}

input[type=text], input[type=password] {
    margin: 5px;
    padding: 0 10px;
    width: 200px;
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
    -moz-outline-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=text]:focus, input[type=password]:focus {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0;
}

input[type=submit] {
    padding: 0 18px;
    height: 29px;
    font-size: 12px;
    font-weight: bold;
    color: #527881;
    text-shadow: 0 1px #e3f1f1;
    background: #cde5ef;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 16px;
    outline: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
    -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
input[type=submit]:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
    line-height: 34px;
}
.error {
    font-size: 80%;
    color: #aa0000;
    text-align: center;
}
#content {
    position: relative;
    margin: 0 auto;
    padding: 20px 20px 20px;
    width: 310px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
#content:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}#content h1 {
     margin: -20px -20px 21px;
     line-height: 40px;
     font-size: 15px;
     font-weight: bold;
     color: #555;
     text-align: center;
     text-shadow: 0 1px white;
     background: #f3f3f3;
     border-bottom: 1px solid #cfcfcf;
     border-radius: 3px 3px 0 0;
     background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
     background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
     background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
     background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
     -webkit-box-shadow: 0 1px whitesmoke;
     box-shadow: 0 1px whitesmoke;
 }
#content p {
    margin: 20px 0 0;
}
#content p:first-child {
    margin-top: 0;
}
#content input[type=text], #content input[type=password] {
    width: 278px;
}
#content p.submit {
    text-align: right;
}

#content-help {
    margin: 20px 0;
    font-size: 11px;
    color: white;
    text-align: center;
    text-shadow: 0 1px #2a85a1;
}
#content-help a {
    color: #cce7fa;
    text-decoration: none;
}
#content-help a:hover {
    text-decoration: underline;
}






















html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}







/*=========================================================*/
/*===================Scrolling Table=======================*/
/*=========================================================*/
html {
    /*width: 100%;*/ /*required if using % width*/
    /*height: 100%;*/ /*required if using % height*/
}
body {
    /*width: 100%;*/ /*required if using % width*/
    /*height: 100%;*/ /*required if using % height*/
    /*margin: 0;*/ /*required if using % width or height*/
    /*padding: 0 20px 0 20px;*/ /*purely aesthetic, not required*/
    /*box-sizing: border-box;*/ /*required if using above declaration*/
    text-align: center; /*delete if using % width, or you don't want table centered*/
}
.scrollingtable {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width: auto; /*set table width here if using fixed value*/
    /*min-width: 100%;*/ /*set table width here if using %*/
    height: 188px; /*set table height here; can be fixed value or %*/
    /*min-height: 104px;*/ /*if using % height, make this at least large enough to fit scrollbar arrows + captions + thead*/
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding-top: 20px; /*this determines top caption height*/
    padding-bottom: 20px; /*this determines bottom caption height*/
    text-align: left;
}
.scrollingtable * {box-sizing: border-box;}
.scrollingtable > div {
    position: relative;
    border-top: 1px solid black; /*top table border*/
    height: 100%;
    padding-top: 20px; /*this determines column header height*/
    z-index: 2;
}
.scrollingtable > div:before {
    top: 0;
    background: cornflowerblue; /*column header background color*/
}
.scrollingtable > div:before,
.scrollingtable > div > div:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 50%;
    left: 0;
}
.scrollingtable > div > div {
    /*min-height: 43px;*/ /*if using % height, make this at least large enough to fit scrollbar arrows*/
    max-height: 100%;
    overflow: scroll; /*set to auto if using fixed or % width; else scroll*/
    overflow-x: hidden;
    border: 1px solid black; /*border around table body*/
}
.scrollingtable > div > div:after {background: white;} /*match page background color*/
.scrollingtable > div > div > table {
    width: 100%;
    border-spacing: 0;
    margin-top: -20px; /*inverse of column header height*/
    /*margin-right: 17px;*/ /*uncomment if using % width*/
}
.scrollingtable > div > div > table > caption {
    position: absolute;
    top: -20px; /*inverse of caption height*/
    margin-top: -1px; /*inverse of border-width*/
    width: 100%;
    font-weight: bold;
    text-align: center;
}
.scrollingtable > div > div > table > * > tr > * {padding: 0;}
.scrollingtable > div > div > table > thead {
    vertical-align: bottom;
    white-space: nowrap;
    text-align: center;
}
.scrollingtable > div > div > table > thead > tr > * > div {
    display: inline-block;
    padding: 0 6px 0 6px; /*header cell padding*/
}
.scrollingtable > div > div > table > thead > tr > :first-child:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px; /*match column header height*/
    border-left: 1px solid black; /*leftmost header border*/
}
.scrollingtable > div > div > table > thead > tr > * > div[label]:before,
.scrollingtable > div > div > table > thead > tr > * > div > div:first-child,
.scrollingtable > div > div > table > thead > tr > * + :before {
    position: absolute;
    top: 0;
    white-space: pre-wrap;
    color: white; /*header row font color*/
}
.scrollingtable > div > div > table > thead > tr > * > div[label]:before,
.scrollingtable > div > div > table > thead > tr > * > div[label]:after {content: attr(label);}
.scrollingtable > div > div > table > thead > tr > * + :before {
    content: "";
    display: block;
    min-height: 20px; /*match column header height*/
    padding-top: 1px;
    border-left: 1px solid black; /*borders between header cells*/
}
.scrollingtable .scrollbarhead {float: right;}
.scrollingtable .scrollbarhead:before {
    position: absolute;
    width: 100px;
    top: -1px; /*inverse border-width*/
    background: white; /*match page background color*/
}
.scrollingtable > div > div > table > tbody > tr:after {
    content: "";
    display: table-cell;
    position: relative;
    padding: 0;
    border-top: 1px solid black;
    top: -1px; /*inverse of border width*/
}
.scrollingtable > div > div > table > tbody {vertical-align: top;}
.scrollingtable > div > div > table > tbody > tr {background: white;}
.scrollingtable > div > div > table > tbody > tr > * {
    border-bottom: 1px solid black;
    padding: 0 6px 0 6px;
    height: 20px; /*match column header height*/
}
.scrollingtable > div > div > table > tbody:last-of-type > tr:last-child > * {border-bottom: none;}
.scrollingtable > div > div > table > tbody > tr:nth-child(even) {background: gainsboro;} /*alternate row color*/
.scrollingtable > div > div > table > tbody > tr > * + * {border-left: 1px solid black;} /*borders between body cells*/
.tabs {
    font-size: 0;
    margin: 25px 0;
}

.tabs:after {
    clear: both;
    content: '';
    display: table;
}

.tabs .tab {
    display: inline;
}

.tabs .tab-label {
    background: #eee;
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    left: 1px;
    margin-left: -1px;
    padding: 10px;
    position: relative;
    vertical-align: bottom;
}

.tabs .tab > [type="radio"] {
    clip: rect(0 0 0 0);
    height: 1px;
    opacity: 0;
    position: fixed;
    width: 1px;
    z-index: -1;
}

.tabs .tab-panel {
    display: inline;
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: 0;
    width: 0;
}

.tabs .tab-content {
    z-index:-10;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: white;
    display: block;
    padding: 0 20px;
    border: 1px solid #ccc;
    float: left;
    font-size: 16px;
    font-size: 1rem;
    margin-top: -1px;
    width: 100%;
}

.tabs .tab [type="radio"]:checked + .tab-label {
    background: white;
    border-bottom-width: 0;
    padding-bottom: 11px;
    z-index: 1;
}

.tabs .tab [type="radio"]:checked ~ .tab-panel {
    display: inline;
}


/*

=======================================
INTERNET EXPLORER 8 and below
=======================================

*/
@media \0screen\,screen\9 {
    /* IE7 and IE6 */
    .tabs {
        zoom: 1;
    }

    /* IE8 and below */
    .tabs .tab .tab-radio {
        filter: Alpha(opacity=0);
        position: absolute;
        z-index: -1;
    }

    /* IE7 and IE6 */
    .tabs .tab .tab-panel, {
        display: none;
        height: auto;
        overflow: visible;
        position: static;
        width: auto;
    }

    /* IE7 and IE6 */
    .tabs .tab-content, {
        float: none;
        padding-bottom: 1px;
        padding-top: 1px;
        width: auto;
    }

    /* IE8 and below */
    .tabs .checked label {
        background: white;
        border-bottom-width: 0;
        padding-bottom: 11px;
        z-index: 1;
    }

    /* IE8 */
    .tabs .checked .tab-panel {
        display: inline;
    }
    /* IE7 and IE6 */
    .tabs .checked .tab-panel, {
        display: inline;
        float: left;
        width: 100%;
    }
}






/*

=======================================
UNIMPORTANT STYLES BEGIN HERE
=======================================

*/

label {
    cursor: pointer;
}

.tabs {
    color: #222;
}

.tabs a:link,.tabs a:visited,.tabs a:hover,.tabs a:focus,.tabs a:active {
    color: #36A;
}

body > h3 {
    font-variant: small-caps;
    letter-spacing: .0625em;
}

p {
    line-height: 1.5;
    max-width: 50em;
}

code,pre {
    font-family: 'Lucida Console', monospace;
}

pre {
    background: #191919;
    color: #8DA;
    overflow-x: auto;
    padding: 1em;
}

p > code {
    background: #DED;
    margin: -2px;
    padding: 2px;
}

.for {
    display: inline-block;
    position: relative;
}

.for:after {
    background: #DDD;
    bottom: 150%;
    color: #222;
    font-family: sans-serif;
    font-size: 12px;
    opacity: 0;
    padding: .5em;
    pointer-events: none;
    position: absolute;
    right: 0;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    white-space: nowrap;
}

.for:hover:after {
    opacity: 1;
}

.for.default-tab {
    color: #8AD;
}

.for.ie8-and-below {
    color: #DA8;
}

.for.default-tab:after {
    content: 'For default tab';
}

.for.ie8-and-below:after {
    content: 'For IE8 and below';
}

/* and just for fun... */
@media only screen and (max-width: 50em) {
    .tabs .tab > label {
        background: #BBB;
        border-color: #999;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }
    .tabs .tab > [type="radio"]:checked + label {
        background: #222;
        border-color: #444;
        color: #DDD;
    }
}